body {
	background:#f1f1f1;
	color:#399;
	/*font-family: "Comic Sans MS", cursive;*/
	font-size: 14px;
	margin: 0;
	min-width: 90px;
	padding: 0;
}

.flt-lft{
	float:left;
}
.flt-rgt{
	float:right;
}
.margin-top{
	margin-top:10px;
}
.pad-btm{
	padding-bottom:5px;
}
.pad-left{
	padding-left:5px;
}
#accordion div img{
	float:left;
}
#accordion div p{
	float:right;
}

h2 { color:#085180;padding:5px 0;}
p {
	font-size:13px;
	/*line-height: 24px;*/
	margin-bottom: 10px;
}

p a,
#body div#campaigns div.body div ul li a,
#body div#about h1 a {
	color: #7e868c;
}
p a:hover,
#body div#about div.aside div p span a:hover,
#body div.header div div.section h2 a:hover,
#body div#campaigns div.header div h2 a:hover,
#body div#campaigns div.body div ul li a:hover,
#body div#getinvolved div h1 a:hover,
#body div#about h1 a:hover {
	color: #44505a;
}
#header {
	background: url(../images/bg-header.png) repeat-x;
	height: 180px;
}
#header div {
	margin: 0 auto;
	/*overflow: hidden;*/
	width: 940px;
}
#header div .first{
	float:left;
	width:65%;
}
#header div .first .bardown{
	text-align:center;
	
}
#header div .last{
	
		/*-moz-box-shadow: 0 1px 1px 1px #dc7b14;
	-webkit-box-shadow: 0 1px 1px 1px #dc7b14;
	box-shadow: 0 1px 1px 1px #dc7b14;
	background:#085180;
	border-radius:0 0 3px 3px;*/	
	margin-top:-1px;
	text-align:center;
	float:right; width:35%;
}

#header div span a {
/*	background: url(../images/rcp.png) no-repeat;
*/	text-decoration:none;
color:#006699;
}
#header div span a span{
	padding-top:20px;
	margin-left:120px;
	line-height:50px;
	/*border-bottom:2px solid;*/
}
#header div span img {
	padding-top:8px;
	position:absolute;
}
#header div a #logo{
	float:left;
	background: url(../images/rcp.png) no-repeat;
	padding-top:10px;
	display:block;
}

#header div a#logo {
	/*display: block;
	float: left;*/
}
#header div a#logo img {
	display: block;
	margin: 70px 0 0;
}
#header div ul {
	/*background: url(../images/bg-navigation.png) no-repeat;
	float: right;
	/*height: 53px;
	list-style: none;
	margin: 30px 0 0 auto;
	/*overflow:hidden;
	padding: 0;
	/*position: relative;
	width: 700px;*/
}
#header div ul li {
	/*float: left;
	height: 53px;*/
}
#header div ul li a {
	color: #dc7b14;
	/*display: inline-block;
	font-family: 'Conv_BreeSerif-Regular';
	/*line-height: 53px;*/
	/*text-align: left;
	text-decoration: none;	
	text-transform: uppercase;*/
	/*width: 140px;*/
}
#header div ul li.current a {
	/*background: url(../images/bg-menuselected.png) repeat-x;
	color: #085180;
	text-shadow: 1px 1px 1px #ffffff;*/
}
#body {
	/*background: #f1f2f2 url(../images/bg-content.png) repeat-x left bottom;
	padding: 11px 0 20px;*/
}
#body div.header {
	background: url(../images/bg-featured.png) repeat-x;
	height: 409px;
}
#body div.header .head {
	margin: 0 auto;
	position: relative;
	width: 940px;
}
#body div.header .head .headright {
	float:right;
	display: block;
	right: 0;
	position: absolute;
	top: 22px;
}
#body div.header div div#tagline {
	height: 120px;
	margin: 0;
	width: 400px;
}
#body div.header div div#tagline h1 {
	/*color: #ed2a45;*/
	color:#dc7b14;
	font-family:"Myriad Pro","Trebuchet MS", sans-serif;
	font-size: 95px;
	font-weight: normal;
	line-height: 80px;
	margin: 0;
	padding: 15px 0 0;
	text-transform: uppercase;
}
#body div.header div div#tagline h3 {
	float:right;
	color: #F6C739;
	font-size: 20px;
	font-family: 'Conv_BreeSerif-Regular';
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}
#body div.header div div.section {
	/*background: url(../images/rcpbg.png) no-repeat;
	background: none;*/
	border: none;
	margin: 0;
	padding: 23px 0 0;
	width: 400px;
	font-size:15px;
}
#body div.header div div.section h2,
#body div#campaigns div.header div h2,
#body div#campaigns div.body div h2,
#body div#newsblog div.aside div h2 {
	color: #dc7b14;
	font-family: 'Conv_BreeSerif-Regular';
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	text-transform: uppercase;
}
#body div.header div div.section h2 a,
#body div#campaigns div.header div h2 a {
	color: #dc7b14;
}
#body div.header div div.section p,
#body div#campaigns div.header div p {
	color: #a67d35;
}
#body div.header div div.section > a {
	background: url(../images/interface.png) no-repeat 0 -62px;
	color: #dc7b14;
	display: inline-block;
	height: 37px;
	font-family: 'Conv_BreeSerif-Regular';
	font-size: 15px;
	line-height: 37px;
	margin: 17px 0 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 200px;
}
#body div.header div div.section > a:hover {
	background: url(../images/interface.png) no-repeat 0 -99px;
	color: #d06405;
	text-shadow: 1px 1px 1px #fdf5cb;
}
#body div.header div div.section > a.first {
	margin: 17px 20px 0 0;
}
#body div#campaigns div.body div h2 a:hover,
#body div#newsblog div.aside div h2 a:hover,
#body div#newsblog div.aside ul li h2 a:hover,
#body div#newsblog div.sidebar div ul li a:hover {
	text-decoration: underline;
}
#body div.body {
	background: #085180;
	border-top: 1px solid #00c6ff;
	/*border-bottom: 1px solid #00c6ff;*/
	margin: 23px 0 0;
	padding: 23px 0 45px;
}
/*#body div.body div {
	margin: 0 auto;
	overflow: hidden;
	width: 940px;
	}*/
	.nbody{
		margin: 0 auto ;
		overflow: hidden;
		width: 940px;
	}
	#body div.body div div.figure {
		float: right;
		position: relative;
		width: 510px;
	}
	#body div.body div div.figure a img,
	#body div.body div div.help a img {
		border: 1px solid #00c6ff;
		display: block;
		filter: alpha(opacity=100);/* Needed for IE8 and old versions */
		opacity: 1;
	}
	#body div.body div div.help a img {
		margin: 7px 0;
	}
	#body div.body div div.figure a img:hover,
	#body div.body div div.help a img:hover,
	#body div#newsblog div.aside div a.figure img:hover,
	#body div#getinvolved div:first-child div.sidebar div:first-child a img:hover,
	#body div#newsblog div.sidebar:first-child a img:hover {
		filter: alpha(opacity=90);/* Needed for IE8 and old versions */
		opacity: 0.9;
	}
	#body div.body div div.figure h2,
	#body div#getinvolved div:first-child div.sidebar div:first-child h2 {
		/*background: url(../images/bg-pink.png) repeat-x;*/
	/*bottom: 30px;
	font-family: 'Conv_BreeSerif-Regular';
	font-size: 22px;
	font-weight: normal;
	height: 50px;
	left: 1px;
	line-height: 49px;
	margin: 0;
	position: absolute;
	text-indent: 20px;
	width: 460px;*/
}
#body div.body div div.figure h2 a,
#body div#getinvolved div:first-child div.sidebar div:first-child h2 a,
#body div#newsblog div.sidebar div h2 {
	color: #e6e6e6;
	text-decoration: none;
	text-transform: uppercase;
}
#body div.body div div.figure h2 a:hover,
#body div#getinvolved div:first-child div.sidebar div:first-child h2 a:hover {
	color: #ffffff;
}
#body div.body div div.news {
	float: left;
	margin: 0 0 0 19px;
	padding: 12px 10px 0;
	width: 200px;
}
#body div.body div div.news h2,
#body div.body div div.help h2,
#body div#getinvolved div:first-child div.sidebar div h2, 
#body div#newsblog div.sidebar div h2{
	color: #00ffd8;
	font-family: 'Conv_BreeSerif-Regular';
	font-size: 22px;
	font-weight: normal;
	margin: 0;
	text-transform: uppercase;
}
#body div.body div div.news ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#body div.body div div.news ul li {
	border-top: 1px solid #044975;
	padding: 14px 0;
}
#body div.body div div.news ul li:first-child {
	border: none;
	padding: 0 0 14px;
}
#body div.body div div.news ul li span.date,
#body div#getinvolved div:first-child div.sidebar div span.date,
#body div#newsblog div.sidebar div span.date {
	color: #679abb;
	font-size: 12px;
	line-height: 24px;
}
#body div.body div div.news ul li h3,
#body div.body div div.help h3,
#body div#getinvolved div:first-child div.sidebar div h3,
{
	font-family: 'Conv_BreeSerif-Regular';
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
}
#body div.body div div.news ul li h3 a,
#body div.body div div.help h3 a,
#body div#getinvolved div:first-child div.sidebar div h3 a,
#body div#newsblog div.sidebar div h3 a {
	color: #74c4d4;
	text-decoration: none;
	text-transform: uppercase;
}
#body div.body div div.news ul li h3 a:hover,
#body div.body div div.help h3 a:hover,
#body div#getinvolved div:first-child div.sidebar div h3 a:hover,
#body div#newsblog div.sidebar div h3 a:hover {
	text-decoration: underline;
}
#body div.body div div.news ul li p,
#body div.body div div.help p,
#body div#getinvolved div:first-child div.sidebar div p,
#body div#newsblog div.sidebar div p {
	color: #679abb;
	float: none;
	padding: 0;
	width: auto;
}
#body div.body div div.news span.link,
#body div.body div div.help span.link,
#body div#getinvolved div div span.link,
#body div#getinvolved div:first-child div.sidebar div span.link,
#body div#newsblog div.sidebar div span.link  {
	background: url(../images/bg-shadow.png) no-repeat;
	display: block;
	margin: 10px auto 0;
	width: 140px;
}
#body div.body div div.help span.link,
#body div#getinvolved div div span.link,
#body div#getinvolved div:first-child div.sidebar div span.link,
#body div#newsblog div.sidebar div span.link  {
	margin: 24px auto 0;
}
#body div.body div div.news span.link a,
#body div.body div div.help span.link a,
#body div#getinvolved div div span.link a,
#body div#getinvolved div:first-child div.sidebar div span.link a,
#body div#newsblog div.sidebar div span.link a {
	color: #085180;
	border-radius: 0 0 3px 3px;
	display: block;
	font-family: 'Conv_BreeSerif-Regular';
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#body div.body div div.news span.link a,
#body div.body div div.help span.link a,
#body div#getinvolved div div span.link a,
#body div#getinvolved div:first-child div.sidebar div span.link a, 
#body div#newsblog div.sidebar div span.link a {
	background: url(../images/bg-white.png) repeat-x;
	width: 100px;
}
#body div.body div div.help span.link a:hover,
#body div.body div div.news span.link a:hover,
#body div#getinvolved div div span.link a:hover,
#body div#getinvolved div:first-child div.sidebar div span.link a:hover,
#body div#newsblog div.sidebar div span.link a:hover {
	background: url(../images/bg-lightblue.png) repeat-x;
}
#footer div form input.send:hover {
	background: url(../images/interface.png) no-repeat 0 -26px;
}
#body div#campaigns div.footer a:hover {
	color: #073959;
}
#body div.body div div.help {
	text-align:center;
	margin:10px;
	float: left;
	padding: 12px 9px 0;
	width: 150px;
}
#body div#about,
#body div#campaigns,
#body div#getinvolved,
#body div#newsblog {
	margin: 0 auto;
	overflow: hidden;
	width: 940px;
}
#body div#about h1,
#body div#getinvolved div h1 {
	color: #085180;
	font-family: 'Conv_BreeSerif-Regular';
	font-size: 24px;
	font-weight: normal;
	line-height: 30px;
	margin: 0;
	padding: 20px 0 0;
	text-align: center;
	text-transform: uppercase;
}
#body div#about div.aside {
	float: left;
	width: 700px;
}
#body div#about div.aside div {
	background: #ffffff;
	border: 1px solid #d9d9d9;
	margin: 23px 0 0;
	padding: 18px 19px;
}
#body div#about div.aside div h2,
#body div#about div.sidebar h2 {
	color: #085180;
	font-family: 'Conv_BreeSerif-Regular';
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	text-transform: uppercase;
}
#body div#about div.aside div p {
	padding: 25px 0 0;
}
#body div#about div.aside div p span {
	color: #085180;
	display: block;
	font-family: 'Conv_BreeSerif-Regular';
	font-size: 16px;
	line-height: 24px;
}
#body div#about div.aside div p span a,
#body div#about h1 a,
#body div#getinvolved div h1 a {
	color: #085180;
}
#body div#about div.aside div p span a:hover {
	color: #052f68;
}
#body div#about div.sidebar {
	float: right;
	margin: 23px 0 0;
	width: 220px;
}
#body div#about div.sidebar h2 {
	padding: 15px 0 5px;
}
#body div#about div.sidebar p {
	padding: 0 0 22px;
}
#body div#campaigns div.cbox {
	background: #fff6c2;
	border: 1px solid #ffe801;
	height: auto;
	overflow: hidden;
	padding: 23px 19px;
	margin:10px 0;
}
.memberbox {
	margin:10px 0;
	/*float: left;
	width: 590px;
	padding:5px;*/
	margin:5px 3px 15px 3px; overflow:hidden;
	-moz-box-shadow: 0 1px 2px #a19864;;
	-webkit-box-shadow: 0 1px 2px #a19864;;
	box-shadow: 0 1px 2px #a19864;}
	.memberbox:hover {
		-moz-box-shadow: 0 0 1px 2px #a19864;
		-webkit-box-shadow: 0 0 1px 2px #a19864;
		box-shadow: 0 0 1px 2px #a19864;
	/*-moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 5px 5px 5px #888;
	webkit-box-shadow:rgba(110, 110, 110, .7) 10px 10px 10px;
	outline:1px solid gray;*/
}
#body div#campaigns div.cbox .info {
	margin-top:5px;
	padding-top: 4px;
	float: left;
	width: 500px;
}
#body div#campaigns div.cbox .info ul{
	list-style:none;
}
#body div#campaigns div.cbox .info li{
	font-size:15px;
	line-height:25px;
}

#body div#campaigns div.cbox .info .left{
	width:150px;
	float:left;
}
#body div#campaigns div.cbox .info .right{
	float:left;
}
#body div#campaigns div.cbox .photo {
	width:135px;
	margin-left:35px;
	float:left;
}

#body div#campaigns div.cbox h2 {
	color:#085180;
	font-size: 18px;
	padding: 0 0 5px;
}
#body div#campaigns div.cbox .img-left {
	width:200px;
	float:left;
}
#body div#campaigns div.cbox .img-right {
	width:200px;
	float:right;
}
#body div#campaigns div.cbox p {
	float:none;
	/*padding:0 10px;
	width:435px;*/
}
#body div#campaigns div.cbox img {
	/*padding:5px;
	border: 1px solid #ffe801;
	display: block;*/
}
#body div#campaigns div.body {
	background: none;
	border: none;
	margin: 0;
	overflow: hidden;
	padding: 35px 0 0;
}
#body div#campaigns div.body div {
	background: #ffffff;
	border: 1px solid #d9d9d9;
	float: left;
	margin: 0 0 0 20px;
	min-height: 311px;
	padding: 18px 19px;
	width: 260px;
}
#body div#campaigns div.body div h2 {
	color: #085180;
	font-size: 16px;
}
#body div#newsblog div.aside div h2 {
	font-size: 16px;
}
#body div#newsblog div.aside div h2 a {
	color: #085180;
	text-decoration: none;
}
#body div#campaigns div.body div:first-child {
	margin: 0;
}
#body div#campaigns div.body div ul {
	list-style: disc inside;
	margin: 0;
	padding: 0;
}
#body div#campaigns div.body div ul li {
	line-height: 24px;
}
#body div#campaigns div.footer {
	background: #085180;
	border: 1px solid #00c6ff;
	color: #00c6ff;
	margin: 35px 0 0;
	overflow: hidden;
	padding: 0 19px;
}
#body div#campaigns div.footer p {
	color: #74c4d4;
	float: left;
	font-family: 'Conv_BreeSerif-Regular';
	padding: 16px 0 0;
	text-transform: uppercase;
	width: 619px;
}
#body div#campaigns div.footer > a {
	background: url(../images/bg-lightblue2.png) repeat-x;
	border-radius: 3px;
	color: #085180;
	display: block;
	float: right;
	font-family: 'Conv_BreeSerif-Regular';
	font-size: 30px;
	height: 59px;
	line-height: 58px;
	margin: 23px 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #74cddf;
	width: 240px;
}
#body div#getinvolved div:first-child {
	background: none;
	height: auto;
	padding: 0;
}
#body div#getinvolved div:first-child div.aside {
	background: #fff6c2;
	border: 1px solid #ffe801;
	float: left;
	margin: 0;
	padding: 22px 19px 17px;
	width: 590px;
}
#body div#getinvolved div:first-child div.aside h2 {
	color:#085180;
}
#body div#getinvolved div:first-child div.aside div:first-child {
	padding: 0 0 23px;
	width: auto;
}
#body div#getinvolved div:first-child div.aside div:first-child h1 {
	color: #dc7b14;
	font-family: 'Conv_BreeSerif-Regular';
	font-size: 36px;
	font-weight: normal;
	line-height: 44px;
	margin: 0 0 20px;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
}
#body div#getinvolved div:first-child div.aside div:first-child p {
	color: #A67D35;
	float: none;
	padding: 0;
	width: auto;
}
#body div#getinvolved div:first-child div.aside > div > p a,
#body div#getinvolved div:first-child div.aside div div p a,
#body div#campaigns div.header div p a {
	color: #a67d35;
}
#body div#getinvolved div:first-child div.aside > div > p a:hover,
#body div#getinvolved div:first-child div.aside div div p a:hover,
#body div#campaigns div.header div p a:hover {
	color: #9c550f;
}
#body div#getinvolved div:first-child div.aside > div {
	float: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: auto;
}
#body div#getinvolved div:first-child div.aside div p {
	color: #A67D35;
	float: none;
	padding: 0;
	width: auto;
}
#body div#getinvolved div:first-child div.aside > div > p {
	/*float: left;
	padding: 0 20px 0 0;
	width: 260px;*/
}
#body div#getinvolved div:first-child div.aside div div {
	/*float: right;
	margin: 0;
	padding: 0;
	width: 260px;*/
}
#body div#getinvolved div:first-child div.aside div div img {
	border: 1px solid #ffe801;
	/*display: block;*/
	margin: 5px 0 7px;
	position: static;
	top: 0;
}
#body div#getinvolved div:first-child div.sidebar,
#body div#newsblog div:first-child div.sidebar {
	float: right;
	margin: 0;
	padding: 0;
	width: 300px;
	position:static;
}
#body div#getinvolved div:first-child div.sidebar div:first-child,
#body div#newsblog div:first-child div.sidebar div h2 {
	background: none;
	border: none;
	height: auto;
	margin: 0 0 18px;
	padding: 0;
	position: relative;
	width: auto;
}
#body div#getinvolved div:first-child div.sidebar div:first-child h2,
#body div#newsblog div:first-child div.sidebar div h2 {
	bottom: 9px;
	width: 298px;
}
#body div#getinvolved div:first-child div.sidebar div:first-child a img,
#body div#newsblog div:first-child div.sidebar div:first-child a img{
	border: 1px solid #d9d9d9;
	display: block;
	filter: alpha(opacity=100);/* Needed for IE8 and old versions */
	opacity: 1;
}
#body div#getinvolved div:first-child div.sidebar div,
#body div#newsblog div:first-child div.sidebar div {
	background: #085180;
	border: 1px solid #00c6ff;
	float: none;
	height: auto;
	margin: 0;
	padding: 20px 20px 20px ;
	width: auto;
}
#body div#getinvolved div:first-child div.sidebar div h2,
#body div#newsblog div:first-child div.sidebar div h2 {
	position: static;
}
#body div#getinvolved > div {
	margin:10px 0;
	overflow: hidden;
	padding: 30px 0 0;
}
#body div#getinvolved div h1 {
	padding: 5px 0 ;
}
#body div#getinvolved div p {
	float: left;
	padding: 0 5px 0 0;
	width: 455px;
}
#body div#getinvolved div .help {
	float: left;
	margin: 0 0 0 0;
	width: 117px;
}
#body div#getinvolved div div p {
	float: none;
	padding: 0;
	width: auto;
}
#body div#getinvolved div div h3 {
	color: #085180;
}
#body div#getinvolved div div h3,
#body div#newsblog div.aside ul li h2 {
	font-family: 'Conv_BreeSerif-Regular';
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	text-transform: uppercase;
}
#body div#getinvolved div div h3 a,
#body div#newsblog div.aside ul li h2 a {
	color: #085180;
	text-decoration: none;
}
#body div#getinvolved div div h3 a:hover,
#body div#newsblog div.aside ul li h3 a:hover {
	/*text-decoration: underline;*/
}
#body div#newsblog {
	padding: 20px 0 0;
}
#body div#newsblog div.aside {
	float: left;
	width: 640px;
}
#body div#newsblog div.aside div {
	background: #ffffff;
	border: 1px solid #d9d9d9;
	overflow: hidden;
	padding: 23px 19px;
	width: 580px;
}
#body div#newsblog div.aside .btn-gap {
	margin-bottom:10px;
}
#body div#newsblog div.aside div span.date,
#body div#newsblog div.aside ul li span.date {
	display: block;
	font-size: 12px;
	line-height: 24px;
	padding: 0 0 7px;
}
#body div#newsblog div.aside ul li span.date {
	padding: 0;
}
#body div#newsblog div.aside div a.figure {
	display: block;
	float: left;
}
#body div#newsblog div.aside div a.figure img {
	border: 1px solid #d9d9d9;
	filter: alpha(opacity=100);/* Needed for IE8 and old versions */
	opacity: 1;
}
#body div#newsblog div.aside div p {
	float: left;
	margin: -5px 0 0 21px;
	width: 352px;
}
#body div#newsblog div.aside ul {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#body div#newsblog div.aside ul li {
	background: #ffffff;
	border: 1px solid #d9d9d9;
	float: left;
	height: 165px;
	margin: 23px 20px 0 0;
	padding: 19px;
	width: 260px;
}
#body div#newsblog div.aside ul li h2,
#body div#newsblog div.sidebar div h2 {
	color: #085180;
	font-family: 'Conv_BreeSerif-Regular';
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	text-transform: uppercase;
}
#body div#newsblog div.sidebar div h2 {
	padding: 0 0 2px;
}
#body div#newsblog div.sidebar {
	float: right;
	padding: 17px 0 0;
	width: 300px;
}
#body div#newsblog div.sidebar div {
	padding: 23px 0 0;
}
#body div#newsblog div.sidebar div:first-child {
	padding: 0;
}
#body div#newsblog div.sidebar div ul {
	margin: 0;
	padding: 0 0 0 16px;
}
#body div#newsblog div.sidebar div ul li a {
	color: #7e868c;
	line-height: 24px;
	text-decoration: none;
}
#footer {
	background: #085180;
	padding: 30px 0 10px ;
	/*margin-top:10px;*/
}
#footer #img-table {
	width: 940px;
	margin: 0 auto;


	-moz-box-shadow: 0 5px 5px 2px #333;
	-webkit-box-shadow: 0 5px 5px 2px #ccc;
	box-shadow: 0 5px 15px 2px #333;
	
	border:1px solid;
	border-radius:190px;	
	overflow: hidden;
	padding: 20px 50px;
}

#title-bar {margin-top:10px;width:620px;}
#title-bar h2 {
	width:620px;
	/*opacity:0.4;
	filter:alpha(opacity=40);	padding:5px 0;
	background-color:#ddd;
	border-top:#333 solid 2px;
	border-bottom:#333 solid 2px;
	border-top: 2px solid #d9d9d9;
	border-bottom: 2px solid #d9d9d9;*/

	text-align:center;
	color:#085180;
}
#img-table div img{
	padding:5px 25px;
	overflow: hidden;
	-webkit-transition:-webkit-transform 1s;
}
#img-table div img:hover{
	text-shadow:rgb(110,110,110) 3px 3px 3px;
	/*background:-webket-linear-gradient(45deg,black,white);*/
	-webkit-transform:rotate(30deg);
}
#img-table div ul{
	margin:40px;
	width:230px;
	list-style:none;
	float:left;
}
#img-table div ul li {
	font-size:15px;
	color:#ddd;
	text-align:center;
}
#footer div form {
	/*float: left;*/
	margin: 0;
	width: 560px
}
#footer div form h2,
#footer div div h2 {
	color: #085180;
	font-family: 'Conv_BreeSerif-Regular';
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 7px;
	text-transform: uppercase;
}
#footer div form label {
	display: block;
	overflow: hidden;
	margin: 12px 0 0;
}
#footer div form label span {
	display: block;
	float: left;
	height: 37px;
	line-height: 37px;
	margin: 0 13px 0 0;
	padding: 0;
	text-align: left;
	width: 95px;
}
#footer div form label span.message {
	vertical-align: top;
}
#footer div form label input {
	border: 1px solid #d7d7d7;
	color: #7E868C;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	float: left;
	height: 35px;
	line-height: 35px;
	padding:0 5px;
	width: 440px;
}
#footer div form label textarea {
	border: 1px solid #d7d7d7;
	color: #7E868C;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 95px;
	overflow: auto;
	padding: 0 5px;
	resize: none;
	width: 440px;
}
#footer div form input.send {
	background: url(../images/interface.png) no-repeat;
	border: none;
	color: #085180;
	cursor: pointer;
	font-family: 'Conv_BreeSerif-Regular';
	font-size: 12px;
	height: 26px;
	margin: 5px 0 0 108px;
	padding: 0 0 2px;
	text-transform: uppercase;
	width: 53px;
}
#footer div div {
	/*float: right;
	padding: 0;
	width: 460px;*/
}
#footer div div ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#footer div div ul li {
	border-top: 1px solid #d7d7d7;
	overflow: hidden;
	padding: 13px 0;
}
#footer div div ul li:first-child {
	border: none;
}
#footer div div ul li  b {
	display: block;
	font-weight: normal;
	float: left;
	/*line-height: 24px;*/
	width: 65px;
}
#footer div div ul li p {
	float: left;
	text-align: left;
	width: 352px;
}
#footer div div ul li span {
	display: block;
	float: left;
	/*line-height: 24px;*/
}
#footer div div ul li p,
#footer div div ul li div {
	color: #7E868C;
	font-size: 14px;
	float: left;
	margin: 0 0 0 8px;
	padding: 0;
	width: 360px;
}
#footer div div ul li p a.email {
	color: #7e868c;
	font-weight: normal;
}
#footer div div ul li p a.email:hover {
	color: #44505a;
}
#footer div div ul li div a {
	display: block;
	float: left;
	height: 26px;
	text-indent: -99999px;
}
#footer div div ul li div a#facebook {
	background: url(../images/icons.png) no-repeat;
	height: 25px;
	width: 26px;
}
#footer div div ul li div a#twitter {
	background: url(../images/icons.png) no-repeat 0 -60px;
	margin: 0 0 0 13px;
	width: 38px;
}
#footer div div ul li div a#googleplus {
	background: url(../images/icons.png) no-repeat 0 -122px;
	margin: 0 0 0 18px;
	width: 26px;
}
#footer div div ul li div a#facebook:hover {
	background: url(../images/icons.png) no-repeat 0 -25px;
}
#footer div div ul li div a#twitter:hover {
	background: url(../images/icons.png) no-repeat 0 -86px;
}
#footer div div ul li div a#googleplus:hover {
	background: url(../images/icons.png) no-repeat 0 -148px;
}
#footer p {
	color: #acacac;
	font-size: 12px;
	padding: 0 0 25px;
	text-align: center;
}
.visitor {
	width: 200px;
	margin: 0 auto;
	text-align:center;
	margin-top:20px;
	margin-bottom::-90px;
}
.crfooter {
	background:#085180;
	/*border-top:2px solid #ddd;*/
	height:55px;
	padding-top:5px;
}

.copyright {
	padding-top:3px;
	border-top:1px solid;
	-moz-box-shadow: 0 5px 5px 2px #333;
	-webkit-box-shadow: 0 5px 5px 2px #333;
	box-shadow: 0 3px 10px 0px #333;

	width: 940px;
	margin: 0 auto;
}

.copyright p{
	color: #aaa;
	font-size: 14px;
	padding-top:15px;
	letter-spacing:1.1px;
	word-spacing: 0.07em;
}
.copyright span{
	width:380px;
	float:right;
}
.copyright img{
	margin-top:-15px;
	float:right;
}


/*#homepage{
	display:block;
	line-height:1.6em;
	}

#homepage .fl_left{
	display:block;
	width:350px;
	}

#homepage #hpage_slider{
	display:block;
	width:358px;
	height:338px;
	color:#999999;
	background-color:#FAFAFA;
	border:1px solid #D8D9DE;
	border-bottom-color:#FAFAFA;
	overflow:hidden;
	}

#homepage #hpage_slider div.item{
	position:relative;
	display:block;
	width:350px;
	height:320px;
	margin:9px;
	}
.flt_left{
	float:left;
	}*/
	/*news and events*/
	.news_body{font-family:Arial, Helvetica, sans-serif; font-size: 12px; color: #333;}
	.news_body h1{margin: 5px 0; padding: 0;}
	.news_body a{color: #F90;}

	.to-flips {width: 178px; float: left; margin: 20px; border: 1px solid #ddd; padding: 10px;}
	.to-flips .content{height: 150px; position: relative; overflow: hidden;}
	.to-flips .content .grey{color: #999;}
	.to-flips .content .block{width: 100%; position: absolute; top: 0px; display: block; overflow: hidden;}
	.to-flips .flipnav{margin: 0 0 0 70px;}
	.to-flips .flipnav .btn-left, 
	.to-flips .flipnav .btn-right,
	.to-flips .flipnav .btn-left-dis, .btn-right-dis {width: 20px; height: 20px; background: #ccc; color: #fff; float: left; font-size: 16px; text-align: center; cursor: pointer;}
	.to-flips .flipnav .btn-left-dis, .to-flips .flipnav .btn-right-dis {color: #fff; background: #fff; cursor: default;}

	/*--menu--*/

	#accordion .photo, #tabs .photo {
		width:135px;
		margin:0 5px;
		float:left;
	}
	#accordion .info, #tabs .info {
		float: left;
		width: 500px;
	}
	#accordion ul, #tabs ul  {
		/*list-style:none;*/
	}
	#accordion li, #tabs li {
		font-size:13px;
		line-height:20px;
		color:#085180;
	}
	.li-cat-block {
		color:#000;
		font-weight:bold;
		width:160px; 
		display:block; 
		float:left;
	}

	#nav li:hover{
		-moz-box-shadow: 0 1px 2px #085180;
		-webkit-box-shadow: 0 1px 2px #085180;
		box-shadow: 1px 2px 2px #085180;}
	}
/*.fixed {
	display:none;
	position:scroll;
	top:400px;
	left:0;
 border: 5px solid white;
  height: 200px;  
  width: 200px;
  }*/
  .hd{
  	color: #fff;
  }
  .clear {clear:both}

  /* new */
  #nav li a {
  	text-transform: capitalize !important;
  }
  .no_sidebar{
  	float:left; 
  	width:100%;
  }

  #title{
  	color: #dc7b14 !important;
  	font-family: 'Conv_BreeSerif-Regular' !important;
  	font-size: 36px !important;
  	font-weight: normal !important;
  	line-height: 44px !important;
  	margin: 0 0 20px !important;
  	padding: 0 !important;
  	text-align: left !important;
  	text-transform: uppercase !important;
  }
  .category .article{
  	margin: 0px !important;
  	padding: 0px !important;
  	border:none !important;
  	border-bottom: 1px double #ECD80D !important;
  	margin-bottom: 2% !important;
  }
  .news{
  	margin-bottom: 2% !important;  	
  }
  .article h3{
  	font-size: 18px !important;
  	margin-bottom: 2% !important;
  }
  .article img{
  	float: left;
  	margin-right: 2%;
  }
  .article p{
  	letter-spacing: 1px !important;
  }
  h2{
  	text-transform: capitalize;
  }	
  #content{
  	margin: 0 auto;
  	overflow: hidden;
  	width: 940px;
  	padding: 1%;
  }
  #full_content, #half_content{
  	margin: 0 auto;
  	overflow: hidden;
  	background: #fff6c2;
  	border: 1px solid #ffe801;
  	height: auto;
  	padding: 1.75%;
  	margin-right: 2%;
  }
  #full_content{
  	width: 910px;
  	float: left;
  }
  #half_content{
  	width: 590px;
  	float: left;
  }
  #lavaLampHome {
  	padding: 0 10px 2px 10px !important;
  }
  h1{
  	color: #dc7b14 !important;
  	font-family: 'Conv_BreeSerif-Regular' !important;
  	font-size: 36px !important;
  	font-weight: normal !important;
  	line-height: 44px !important;
  	margin: 0 0 20px !important;
  	padding: 0 !important;
  	text-align: left !important;
  	text-transform: uppercase !important;
  }


  /*hacks for tinymce*/
  #half_content ul,#half_content ol,#full_content ul,#full_content ol{
  	padding-left: 3% !important;
  }
  #tagline{
  	padding-top: 4%;
  	height: 75px !important;
  }
  #h1_intro{
  	color: #085180 !important;
  	text-transform: none !important;
  }
  h1#welcome{
  	color: #dc7b14;
  	font-family: "Myriad Pro","Trebuchet MS", sans-serif;
  	font-size: 85px !important;
  	font-weight: normal;
  	line-height: 80px;
  	margin: 0;
  	padding: 15px 0 0;
  	text-transform: uppercase;
  }
  /*bod*/
  table {
  	width: 100%;
  }
  table#bod {
  	width: 100%;
  	border:2px solid blue;
  }

  table td{
  	text-align: center;
  }
  table img{
  	height: 120px;
  	width: 100px;
  }
  /*accordian*/
  #accordion ul{
  	list-style: none !important;
  }
  li span{
  	margin-right: 5% !important;
  }
  .photo img{
  	/*width: 140px !important;*/
  }
  .photo {
  	margin-right: 5% !important;
  }
