html, body {
 /* margin: 0;
  padding: 0;*/
}

body {
 /* text-align: center;
  font-family: Arial, sans-serif, Verdana;
  background-color: #0a0a0a;
  background-image: url('../images/bg.png');
  color: #d2d2d2;
  font-size: 75%;*/
}

a {
  /*color: #ffffff;
  text-decoration: none;*/
}

a:focus, a:hover, a:active {
  /*text-decoration: underline;*/
}

p, li {
  /*line-height: 1.8em;*/
}

h1, h2 {
 /* margin: 0 0 4px 0;
  letter-spacing: -1px;*/
}

h1 {
  /*font-size: 2.5em;
  color: #818181;*/
}

h2 {
  /*font-size: 1.5em;
  font-style: italic;
  font-weight: normal;*/
}

pre {
  font-size: 1.2em;
  line-height: 1.2em;
  overflow-x: auto;
}

div.page {
  width: 920px;
  margin: 0 -5px;
  text-align: left;
}

div#container {
  padding: 0 2px;
}

div#header {
 /* width: 100%;
  height: 118px;
  background-color: #030303;
  background-image: url('../images/bgheader.png');*/
}

div#header-text {
  padding-top: 30px;
  padding-left: 62px;
  background-image: url('../images/camera.png');
  background-repeat: no-repeat;
  background-position: 20px 34px;
}

div#footer {
  /*clear: both;
  color: #777;
  margin: 0 auto;
  padding: 20px 0 40px;
  text-align: center;*/
}

div.content {
  /* The display of content is enabled using jQuery so that the slideshow
     content won't display unless javascript is enabled. */
  display: none;
  float: right;
  width: 720px;
  margin-top: 15px;
}

div.content a, div.navigation a {
  text-decoration: none;
  color: #777;
}

div.content a:focus, div.content a:hover, div.content a:active {
  text-decoration: underline;
}

div.controls {
  height: 28px;
}

div.controls a {
  display: block;
  float: left;
  margin-right: 2px;
  padding: 4px 7px 2px 7px;
/*  background-color: #085180;
*/}

div.controls a:hover {
  background-color: #eee;
}

div.controls a:focus, div.content a:hover, div.content a:active {
  text-decoration: none;
}

div.ss-controls {
  float: left;
}

div.nav-controls {
  float: right;
}

div.nav-controls a {
  margin-left: 3px;
}

div.slideshow-container {
  position: relative;
  clear: both;
  height: 576px;
}

div.loader {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/loader.gif');
  background-repeat: no-repeat;
  background-position: center;
  width: 720px;
  height: 576px;
}

div.slideshow {}

div.slideshow span.image-wrapper {
  width: 718px;
  height: 566px;
  line-height: 566px;
  overflow: hidden;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #085180;
}

div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
  text-decoration: none;
}

div.slideshow img {
  border: 1px solid #000000;

  max-width: 706px;
  /* max-width workaround for IE */
  height: expression(this.width >= 706 ? 'auto' : true);
  width: expression(this.width > 706 ? 706 : true);

  vertical-align: middle;
  /* vertical align for IE */
  margin-top: expression(this.height > 0 && this.height < 566 ? (566 - this.height) / 2 : 0);
}

div.download {
  float: right;
}

div.caption-container {
  position: relative;
  clear: left;
  height: 75px;
}

span.image-caption {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

div.caption {
  float: right;
  width: 718px;
  background-color: #085180;
  margin-right: 2px;
}

div.image-title {
  color:#ddd;
	font-weight: bold;
  font-size: 1.4em;
  padding: 5px 5px 0 5px;
}

div.image-desc {
  line-height: 1.3em;
  padding: 12px 5px 5px 5px;
}

div.navigation {
  /* The navigation style is set using jQuery so that the javascript specific
     styles won't be applied unless javascript is enabled. */
  margin-top: 15px;
}

ul.thumbs {
  clear: both;
  margin: 0;
  padding: 0;
}

ul.thumbs li {
  float: left;
  padding: 0;
  margin: 5px 10px 5px 0;
  list-style: none;
}

a.thumb {
  /*display: block;*/
  float: left;
  border: 2px solid #c8c8c8;
}

ul.thumbs li.selected a.thumb {
  background: #000;
}

a.thumb:focus {
  outline: none;
}

ul.thumbs img {
  border: none;
  display: block;
}

div.pagination {
  clear: both;
}

div.navigation div.top {
  margin-bottom: 12px;
  height: 11px;
}

div.navigation div.bottom {
  margin-top: 12px;
}

div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
  display: block;
  float: left;
  margin-right: 2px;
  padding: 4px 7px 2px 7px;
  background-color: #085180;
}

div.pagination a:hover {
  background-color: #eee;
  text-decoration: none;
}

div.pagination span.current {
  font-weight: bold;
  background-color: #323232;
  color: #fff;
}

div.pagination span.ellipsis {
  border: none;
  padding: 5px 0 3px 2px;
}